body * {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: sans-serif;
    font-size: 18px;
}

.button {
    width: 160px;
    height: 60px;
    padding: 10px;
    margin: 15px 10px;
    font-size: 1em;
}

.avidButton {
    width: 90px;
    height: 40px;
    font-size: 1em;
    margin-right: 6px;
}

.avidShortButton {
    width: 70px;
    height: 40px;
    font-size: 1em;
    margin-right: 6px;
}

.vertPicklistLabel {
    height: 33px;
    background-color: #dddddd;
    border-radius: 10px;
    padding-left: 12px;
    padding-top: 5px;
}

.vertPicklistFooter {
    background-color: #dddddd;
    border-radius: 10px;
    padding-left: 12px;
    padding-top: 5px;
}

.picklistLabelText {
    font-size: 1.47em;
}

.picklistFooterText {
    font-size: 1em;
}

.horizPicklistLabel {
    height: 7%;
    text-align: center;
    background-color: #dddddd;
    border-radius: 10px;
}

.panelTitle {
    font-size: 1.67em;
    font-weight: bold;
}

.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}

.centered {
    text-align: center;
}

.editDiv {
    margin-top: 20px;
    margin-bottom: 20px;
}

span.showId {
    width: 15%;
}

span.showName {
    width: 74%;
    overflow: hidden;
    text-overflow: ellipsis;
}

span.showStatus {
    width: 4%;
}

.clearBoth {
    clear: both;
}

.smaller {
    font-size: smaller;
}

.horizontalEntryDialog {
    position: absolute;
    left: 0;
    top: 100px;
    width: 500px;
    height: 130px;
    z-index: 10000;
    border: 3px #999999 solid;
    border-radius: 10px;
    background-color: #dddddd;
    display: none;
    visibility: hidden;
}

.verticalEntryDialog {
    position: absolute;
    left: 50px;
    top: 0;
    width: 180px;
    height: 600px;
    z-index: 10000;
    border: 3px #999999 solid;
    border-radius: 10px;
    background-color: #dddddd;
    display: none;
    visibility: hidden;
}

.pickList {
    list-style-type: none;
    padding: 10px 10px 0;
    margin: 0;
}

.evenLi {
    background-color: #edf9fc;
    font-size: 1.75em;
}

.oddLi {
    background-color: #dcf2f8;
    font-size: 1.75em;
}

.hlist {
    display: inline-block;
    width: 44px;
    height: 100%;
    vertical-align: middle;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 0;
}

.vlist {
    width: 100%;
    height: 40px;
    vertical-align: middle;
    text-align: center;
    padding-top: 9px;
    margin-top: 4px;
}

.sslist {
    width: 100%;
    height: 40px;
    vertical-align: middle;
    text-align: left;
    padding-top: 9px;
    margin-top: 4px;
}

.large_font {
    font-size: 1.33em;
}

.navMainPanel {
    background-color: #dddddd;
    padding: 10px 0 10px 10px;
    border-radius: 8px;
    border: 2px solid #999999;
    margin: 0 0 20px 25px;
    width: 130px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.33em;
}

.dimNavMainPanel {
    background-color: rgba(221, 221, 221, 0.3);
    padding: 10px 0 10px 10px;
    border-radius: 8px;
    border: 2px solid rgba(153, 153, 153, 0.3);
    margin: 0 0 20px 25px;
    width: 130px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.33em;
}

.iconSpacer {
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
}

.lineSpacer {
    height: 14px;
}

.statusLine {
    float: left;
    font-size: .75em;
}

#divAll {
    width: 318px;
    left: 0;
    right: 0;
    margin: auto;
}

#divFleet {
    width: 100%;
}

#divBridge {
    background-size: 100%;
}

#divFishbowl {
    width: 260px;
    left: 0;
    right: 0;
    margin: auto;
}

#divFishbowlStatus {
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}

#avidWrapper * {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#divAvidModal {
    visibility: hidden;
    background-color: #dddddd;
    opacity: 0.25;
    color: #000000;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 2px;
}

#shipRosterList {
    list-style-type: none;
    width: 98%;
    border: 1px solid;
    margin: 0 auto 0 auto;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 300px;
    padding: 0 3px 0 3px;
    display: inline-block;
}

#fleetCommandList {
    list-style-type: none;
    width: 98%;
    border: 1px solid;
    margin: 0 auto 0 auto;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 300px;
    padding: 0 3px 0 3px;
    display: inline-block;
}

#shipRosterList li {
    clear: both;
    width: 99%;
    margin: 0;
    padding: 0;
}

#fleetCommandList li {
    clear: both;
    width: 99%;
    margin: 0;
    padding: 0;
}
#shipRosterList li span {
    float: left;
    font-size: 1.33em;
    padding: 10px 5px 10px 5px;
    margin: 0;
}

#fleetCommandList li span {
    float: left;
    font-size: 1.33em;
    padding: 10px 5px 10px 5px;
    margin: 0;
    height: 50px;
}

#btnToggleBearingAltitude {
    float: left;
    margin-right: 6px;
    margin-top: 6px;
}

#divBearingHorizontalEntryDialogUL {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    width: 100%;
    height: 75%;
}

#divBearingVerticalEntryDialogUL {
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
    height: 94%;
}

#divFleetCommandTitle {
    float: left;
    margin: 0;
    width: 50%;
}

#divFleetCommandNavButtons {
    float: right;
    margin: 0;
}

#avidTitle {
    width: 100%;
}

#avidTitleIdName {
    float: left;
    background-color: #dddddd;
    padding: 5px 0 5px 10px;
    border-radius: 8px;
    border: 2px solid #999999;
    margin: 0;
    width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
}

#avidTitleId {
    font-size: 1em;
    font-weight: bold;
}

#avidTitleControls {
    float: right;
    margin: 0;
}

#divAvid {
    margin: 0;
    padding: 0;
}

#divHelmControls, #divBearingControls {
    clear: both;
    padding-top: 10px;
}

#divSimilarShips {
    clear: both;
    padding-top: 10px;
}

#divSimilarShipsEntryDialog {
    position: absolute;
    left: 50px;
    top: 100px;
    width: 480px;
    height: 100px;
    z-index: 10000;
    border: 3px #999999 solid;
    border-radius: 10px;
    background-color: #dddddd;
    display: none;
    visibility: hidden;
}

#divSimilarShipsEntryDialogUL {
    width: 100%;
    height: 94%;
}

#distSS {
    overflow-x: auto;
    overflow-y: scroll;
    height: 150px;
    width: 94%;
}

#distSS li {
    white-space: nowrap;
}

#distSS li span {
    float: left;
    font-size: 0.8em;
    padding: 0 5px 10px 5px;
    margin: 0;
}

#btnPivot, #btnRoll {
    width: 90px;
    height: 40px;
    font-size: 1em;
}

#btnDone {
    width: 150px;
    height: 40px;
    font-size: 1em;
}

#lblPivot, #lblRoll, #lblDone {
    font-size: 1.33em;
    font-weight: bold;
}

#divPivot, #divRoll {
    float: left;
    width: 100px;
    height: 40px;
    text-align: center;
}

#divDone {
    float: left;
    width: 160px;
    height: 40px;
    text-align: center;
}

#divPrevious, #divNext, #divBPrevious, #divBNext, #divFPrevious, #divFNext {
    float: right;
    width: 80px;
    height: 40px;
    text-align: center;
}

#divFishbowlControls {
    clear: both;
}

#btnMidpointView, #btnEndpointView {
    width: 200px;
    height: 40px;
    font-size: 1em;
}

#lblMidpointView, #lblEndpointView {
    font-size: 1.33em;
    font-weight: bold;
}

#divMidpointView, #divEndpointView {
    width: 220px;
    height: 40px;
    text-align: center;
}

#divMidpointView {
    float: left;
}

#divEndpointView {
    float: right;
}

#divClearView {
    clear: both;
}

#hexSide31 {
    float: left;
    font-weight: bold;
    font-size: .67em;
    margin-left: 5px;
}

.svgAvidDirectionLetter {
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    line-height: 100%;
    text-anchor: middle;
    letter-spacing: 0;
    word-spacing: 0;
    fill: #8b0304;
    fill-opacity: 1;
    stroke: none;
    font-family: sans-serif;
}

.svgAvidDirectionLetterPair {
    font-size: 16px;
    font-style: italic;
    font-weight: lighter;
    line-height: 100%;
    text-anchor: middle;
    letter-spacing: 0;
    word-spacing: 0;
    fill: #eeeeee;
    fill-opacity: 1;
    stroke: none;
    font-family: sans-serif;
}

.svgIconPlate {
    fill: #dddddd;
    fill-opacity: 1;
    stroke: #999999;
    stroke-opacity: 1;
    stroke-width: 2;
}

.svgFishbowlWindow {
    fill: #999999;
    fill-opacity: 0.75;
    fill-rule: nonzero;
    stroke: none;
}

.svgFishbowlWindowFrame {
    fill: none;
    stroke: #cececd;
    stroke-width: 1;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    stroke-miterlimit: 3;
    stroke-opacity: 1;
    stroke-dasharray: none;
}

.svgCrumbPUGp1 {
    fill: #000000;
    fill-opacity: 1;
    stroke: #000000;
    stroke-width: 1;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    stroke-opacity: 1;
}

.svgCrumbPUGp2 {
    fill: none;
    stroke: #000000;
    stroke-width: 1.60000002;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    stroke-miterlimit: 4;
    stroke-opacity: 1;
    stroke-dasharray: none;
}

.svgCrumbPUGp3 {
    fill: none;
    stroke: #8d47dd;
    stroke-width: 0.80000001;
    stroke-miterlimit: 4;
    stroke-opacity: 1;
    stroke-dasharray: none;
}

.svgCrumbPDGp1 {
    fill: #707070;
    fill-opacity: 1;
    stroke: #707070;
    stroke-width: 1;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    stroke-opacity: 1;
}

.svgCrumbPDGp2 {
    fill: none;
    stroke: #707070;
    stroke-width: 1.60000002;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    stroke-miterlimit: 4;
    stroke-opacity: 1;
    stroke-dasharray: none;
}

.svgCrumbPDGp3 {
    fill: none;
    stroke: #b491db;
    stroke-width: 0.80000001;
    stroke-miterlimit: 4;
    stroke-opacity: 1;
    stroke-dasharray: none;
}

.svgUndoGp1 {
    fill: #ffffff;
    fill-opacity: 0.05;
    stroke: none;
}

.svgUndoGp2 {
    fill: #fcd7ca;
    fill-opacity: 1;
    stroke: #aa0000;
    stroke-width: 3;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    stroke-miterlimit: 4;
    stroke-opacity: 1;
    stroke-dasharray: none;
}

.svgUndoGp3 {
    font-size: 24px;
    font-style: normal;
    font-weight: normal;
    line-height: 125%;
    letter-spacing: 0;
    word-spacing: 0;
    fill: #aa0000;
    fill-opacity: 1;
    stroke: none;
    font-family: sans-serif;
}

.svgCloseGp1 {
    fill: #e80000;
    fill-opacity: 1;
    stroke: #000000;
    stroke-width: 0.40000001;
    stroke-linecap: round;
    stroke-miterlimit: 12.60000038;
    stroke-opacity: 1;
    stroke-dasharray: none;
}

.svgCloseGp2 {
    font-size: 39px;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    line-height: 125%;
    letter-spacing: 0;
    word-spacing: 0;
    text-anchor: middle;
    fill: #ffffff;
    fill-opacity: 1;
    stroke: none;
    font-family: sans-serif;
}

.svgBearingSelectGp3 {
    fill: #282112;
    fill-rule: evenodd;
}

.svgBearingSelectGp4 {
    fill: #ffffff;
}

.svgBearingSelectGp5 {
    fill: #ffffff;
    fill-rule: evenodd;
    stroke: #282112;
    stroke-width: 0.75;
}

.svgClearBearingGp2 {
    fill: #ffffff;
    fill-opacity: 0.05;
    stroke: none;
}

.svgClearBearingGp3 {
    fill: #fcd7ca;
    fill-opacity: 1;
    stroke: #aa0000;
    stroke-width: 3;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    stroke-miterlimit: 4;
    stroke-opacity: 1;
    stroke-dasharray: none;
}

.svgClearBearingGp4 {
    fill: none;
    stroke: #aa0000;
    stroke-width: 2.45406866;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    stroke-miterlimit: 4;
    stroke-opacity: 1;
    stroke-dasharray: none;
}

.svgRotateGp1 {
    fill: #292929;
    fill-opacity: 1;
    stroke: #292929;
    stroke-width: 2.5;
    stroke-miterlimit: 4;
    stroke-opacity: 1;
    stroke-dasharray: none;
}

.svgRotateGp2 {
    fill: #ffffff;
    fill-opacity: 1;
    stroke: none;
}

.svgRotateGp3 {
    fill: none;
    stroke: #292929;
    stroke-width: 0.44220546;
    stroke-miterlimit: 4;
    stroke-opacity: 1;
    stroke-dasharray: none;
}

.svgRotateGp4 {
    fill: #292929;
    fill-opacity: 1;
    stroke: #292929;
    stroke-width: 1.29999995;
    stroke-miterlimit: 4;
    stroke-opacity: 1;
    stroke-dasharray: none;
}

.svgRotateGp5 {
    font-size: 9px;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    line-height: 125%;
    letter-spacing: 0;
    word-spacing: 0;
    text-anchor: middle;
    fill: #000000;
    fill-opacity: 1;
    stroke: none;
    font-family: sans-serif;
}

.svgRotateGp6 {
    fill: #ffffff;
    fill-opacity: 0.05;
    stroke: none;
}

.svgFishbowlSelectGp2 {
    fill: none;
    stroke: #000000;
    stroke-width: 2;
}

.svgFishbowlSelectGp3 {
    fill: none;
    stroke: #000000;
    stroke-width: 0.91131395;
}

.svgFishbowlSelectGp4 {
    fill: none;
    stroke: #e02126;
    stroke-width: 2;
}

.svgFishbowlSelectGp5 {
    fill: none;
    stroke: #000000;
    stroke-width: 0.91139328;
}

.svgFishbowlSelectGp6, .svgFishbowlSelectGp7 {
    fill: none;
    stroke: #000000;
    stroke-width: 0.91139883;
}

.svgAxisCircle {
    fill: none;
    stroke: #808080;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    stroke-opacity: 1;
}

.svgAxisPath {
    fill: none;
    stroke: #808080;
    stroke-miterlimit: 3.25;
}

.svgAxisLine {
    fill: none;
    stroke: #808080;
    stroke-linecap: square;
    stroke-miterlimit: 3.25;
}

.svgAxisPolygon {
    fill: none;
    stroke: #808080;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.svgAxisEllipse {
    fill: #808080;
}

.svgWindow {
    opacity: 0.75;
    fill-opacity: 0.05;
    fill: #ffffff;
    stroke: #ed1c24;
    stroke-width: 0.99250001;
}

.svgEvent {
    fill: #78f000;
    fill-opacity: 0.05;
    stroke: #78f000;
    stroke-opacity: 1;
    stroke-width: 1.5;
    stroke-linecap: butt;
    stroke-linejoin: miter;
}

.svgBearingCircle {
    fill: none;
    stroke: #aa0000;
    stroke-width: 1;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    stroke-opacity: 1;
}

.svgBearingText {
    font-size: 24px;
    font-style: normal;
    font-weight: bold;
    line-height: 125%;
    letter-spacing: 0;
    word-spacing: 0;
    fill: #aa0000;
    fill-opacity: 1;
    stroke: none;
    font-family: serif;
}

.svgBumper {
    opacity: 0.75;
    fill: #7b6dfc;
    fill-opacity: 0;
    stroke: #7b6dfc;
    stroke-opacity: 0;
    stroke-width: 0.99250001;
}

.svgNoFillNoStroke {
    fill: none;
    stroke: none;
}

.svgFishbowlNose {
    fill: #292929;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: none;
}

.svgFishbowlLeft, .svgFishbowlTail {
    fill: #292929;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: none;
}

.svgFishbowlRightGp1 {
    fill: #292929;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: none;
}

.svgFishbowlRightGp2 {
    fill: #ffff2e;
    fill-opacity: 0.60317461;
    stroke: #292929;
    stroke-width: 2.5;
    stroke-miterlimit: 4;
    stroke-opacity: 1;
    stroke-dasharray: none;
}

.svgFishbowlSelect {
    float: right;
    margin-right: 0;
}

.svgAvidWrapper {
    background-color: #ffffff;
    background-size: 100%;
}

